.intro-header{
    padding-top: 400px;
    padding-bottom: 400px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/laptop.jpeg) no-repeat center center;
    background-size: cover;
}

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

/* Bootstrap Overrides */
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Calibri,Helvetica,Arial,sans-serif;
}

h5 {
    font-weight: bold;
}

.thumbnail {
	border-radius: 0;
	margin-bottom: 0;
	max-width: 400px;
	margin: auto auto;
}

/* HTML5 */
article, aside, figure, footer, header, hgroup, menu, nav, section { 
    display: block; 
}

/* Header & Footer */
.grey-header {
    background-color: #242424;
    height: 340px;
    width: 100%;
    background-image: url('../img/grey-border.png');
    background-position: center bottom;
    background-repeat: repeat-x;
}

.grey-footer {
    background-color: #242424;
    width: 100%;
    vertical-align: middle;
}

.inner-footer {
    padding: 10px; 
    color: #fff;
}

.grey-header h1 {
	font-family: 'Open Sans', sans-serif;
    color: #fff;
	line-height: 1.333;
	letter-spacing: -2px;
	font-weight: 300;
    margin: auto auto;
    padding-top: 60px;
    font-size: 45px;
    text-align: center;
    padding: 50px 20px 0 20px;
}

.grey-header h2 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: auto auto;
    padding: 0 20px 0;
}

.header-windows {
    position: absolute;
    height: 295px;
    width: 100%;
    background-image: url('../img/windows-award.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 750px;
    top: 180px;
}

.contentflow {
    height: 304px;
    z-index: 999;
    margin-top: -219px;
}

.main-container {
    padding-top: 80px;
    margin-bottom: 20px;
}

@media (min-width: 768px)
{
    .grey-header {
        height: 410px;
    }
	
	.grey-header h1 {
		font-size: 65px;
		padding-top: 45px;
	}

    .header-windows {
        background-size: auto;
        height: 300px;
    }
}

/* Line-through text */
.main-caption {
	text-align: center;
	margin: 10px 0;
}

.sub-caption {
    color: #959595;
    text-align: center;
}

.caption span, .sub-caption span {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 10px;
}

.overline {
    margin-bottom: 20px;
}

@media (min-width: 768px)
{
    .overline {
        border-top: 1px solid #E3E3E3;
        line-height: 18px;
        margin: -20px -15px 36px -15px;
    }
}

/* Content */
.content-section {
    margin-bottom: 20px;
    clear: both;
}

/* Who I Am */
.biography {
    padding: 0 15px;
}



/* What I Work With */
.app-section:before,
.app-section:after {
  display: table;
  content: " ";
}

.app-section:after {
  clear: both;
}

.app-cell {
	width: 33.33%;
	height: 155px;
	float: left;
	margin: auto auto;
	padding: 0 10px 20px 10px;
	text-align: center;
}

.app-icon {
    float: none;
    display: block;
    width: 100%;
    clear: both;
    margin-right: 20px;
    padding: 4px 0;
}

.app-icon img {
    margin: auto auto;
}

.app-name {
    font-weight: bold;
}

.app-name h5 {
    margin: 2px 0;
}

.app-description {
    color: #959595;
}

@media (min-width: 768px) {
	.app-cell {
		text-align: left;
		height: 90px;
	}

    .app-icon img {
        margin: 0;
    }

    .app-icon
    {
        float: left;
        width: auto;
    }
}

@media (min-width: 992px)
{
	.app-cell {
		height: auto;
	}
}

p.social {
    text-align: center;
    margin-top: 20px;
  }
  p.social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: bottom;
  }
  p.social a i {
    vertical-align: bottom;
    line-height: 38px;
  }
  p.social a.facebook {
    background-color: #ccc;
  }
  p.social a.gplus {
    background-color: #333;
  }
  p.social a.twitter {
    background-color: #aaa;
  }
  p.social a.instagram {
    background-color: #999;
  }
  p.social a.email {
    background-color: #666;
  }